<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>JSON-RPC Demo for JQuery Terminal Emulator</title>
    <meta name="author" content="Jakub Jankiewicz - jcubic&#64;onet.pl"/>
    <meta name="Description" content="Demonstration for JQuery Terminal Emulator using call automaticly JSON-RPC service (in php) with authentication."/>
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="../static/js/jquery.terminal.min.js"></script>
    <link href="../static/css/jquery.terminal.min.css" rel="stylesheet"/>
    <link href="../static/css/charterm.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/js-polyfills/keyboard.js"></script>
    <script src="../static/js/charterm.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content"/>
  </head>
<body>
    <div class="bodycontent" id="bodycontent">

    </div>
    <div class="popout" id="popout">

    </div>
<script>
var term;

jQuery(function($) {
    var id = 1;
    term = $('#bodycontent').terminal(function(command) {
        parseCommand(command, term)
    }, {
        greetings: "'mc' to access your character"
    });
});

</script>
</body>
</html>
